/**/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

/* SECCION 1: HEADER */

.sec-1{
  background-color: black;
  height: 65px;
}

.logo{
  background: url('../img/logo.jpg');
  width: 100px;

}
.eight{
  color:#F0F0F0;
}
.devices{
  
}